@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('colors.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.20), rgba(0,0,0,0.30)), url('../src/apt-ease-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}


header{
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom: 1px solid rgba(84, 83, 76, 0.2);
}
header img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: auto;
    height: 75px;
}
.wrapper{
    width: 100%;
    height: 100%;
   display: grid;
   grid-template-rows:10% 85% 5%;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    backdrop-filter: blur(5px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    margin: auto;
    padding: 20px;
}

.card__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card h1 {
    color: var(--fuscous-gray);
    font-size: 3rem;
    margin-bottom: 20px;
}
.card label{
    width: 60%;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card input[type="text"], .card input[type="password"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vw;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(84, 83, 76, 0.2);
    background: rgba(255, 255, 255, 0.5);
    color: var(--fuscous-gray);
    font-size: 16px;
}

.card__content .showPassword{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.showPassword input[type="checkbox"]{
    height: 40px;
    width: auto;
    border: none;
}


.card-content .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
}

.card .card__content button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(84, 83, 76, 0.2);
    background: var(--muesli);
    color: #FFFFFF;
    font-size: 16px;
    transition: 0.3s transform ease-in-out;
    cursor: pointer;

}

.card .card__content button:hover{
    transform: translateY(-4px);
    background: var(--fuscous-gray);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 20vw;
    padding-right: 40px; /* Space for the icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fuscous-gray);
    color: var(--light-text);
    border-top: 1px solid rgba(84, 83, 76, 0.1);
}
