.table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}

table.tblmanage {
    border: 1px solid #FFFFFF;
    width: 100%;
    height: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: 40px;
  }
  table.tblmanage td, table.tblmanage th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  table.tblmanage tbody td {
    font-size: 16px;
  }

  table.tblmanage tr.cells:nth-child(even) td.items:hover{
    transition: 0.3s ease-in;
    background-color: #9eadba;
  }

  table.tblmanage tr.cells:nth-child(even) {
    background: #D0E4F5;
  }
  table.tblmanage tr.cells:nth-child(odd){
    background-color: #FFFFFF;
  }
  table.tblmanage tr.cells:nth-child(odd) td.items:hover{
    transition: 0.3s ease-in;
    background-color: #bdbdbd;
  }
  table.tblmanage tr.headers{
    font-size: 20px;
  }
  table.tblmanage thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
  }
  table.tblmanage thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table.tblmanage thead th:first-child {
    border-left: none;
  }
  
  table.tblmanage tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
  }
  table.tblmanage tfoot td {
    font-size: 14px;
  }

  table.tblmanage svg.edit{
    width: 30px;
    height: auto;
    color: #ab8aa5;
    
  }

  table.tblmanage svg.delete{
    width: 30px;
    height: auto;
    color: #ab8aa5;
    margin-left: 10px;
    cursor: pointer;
  }

  table.tblmanage svg.edit:hover{
    transition: 0.3s ease-in;
    color: #4942E4;
  }

  table.tblmanage svg.delete:hover{
    transition: 0.3s ease-in;
    color: #4942E4;
  }

  .table-container p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
