
.main__wrapper{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    background-color: #f1f5f9;
    
}

.main__sidebar{
    top: 0;
    position: fixed;
    width: 400px;
    background-color: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
    
    border-radius: 0px 24px 24px 0px;
}

.main__sidebar .main__logo{
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    color: #f1f5f9;
}

.main__sidebar .APT{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #94a3b8;
}

.main__sidebar .Ease{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 10;

    
}
.main__user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 10px 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    color:#f1f5f9;
    
}

.main__user .welcome-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 400;
}

.main__user .logout{
    cursor: pointer;
    color: white;
}

.welcome-type{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: large;
    font-weight: 300;
}

.main__sidebarlinks nav ul li .links{
    display: flex;
    width: 100%;
    color: rgb(248, 250, 252);
    font-weight: 600;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    gap: 50px;
    padding: 20px 70px 20px 70px;
    border-radius: 20px;
}
.main__sidebarlinks i{
    font-size: 40px;
}


.links:hover{
    transition: 0.3s ease-in;
    background-color: rgba(71, 85, 105, 0.774);
    cursor: pointer;
}

.main__content{
    width: calc(100%-0.1%);
    height: 100vh;
    grid-column: 2/3;
    
}